<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit College</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
      .container{
          background-color:rgb(100, 100, 100, 0.6);
          border-radius: 15px;
      }
    </style>
  </head>
  <body style="background: rgb(30,30,30);">
    {% include "base.html" %}
    {% block content %}
    <div class="container">
      <div class="row justify-content-center my-5">
        <h5 style="color:white">Course</h5>
        <input type="hidden" id="student_id" value={{course_code}}>
        </br>
        <form style="color:white" method="POST" action='/colleges/edit/{{course_code}}'>
            {{ form.hidden_tag() }}
          
          <div class="form-row">
            <div class="form-group col-md-2">
              {{ form.code.label(class="form-label") }}
    
              {{ form.code(class="form-control", placeholder="CCS") }}
            </div>
          </div>

          <div class="form-group">
            {{ form.name.label(class="form-label") }}
    
            {{ form.name(class="form-control", placeholder="College of ...") }}
          </div>
          
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
