<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
        /* Modify the background color */
         
        .navbar-custom {
			background: linear-gradient(to right, #1e1e1e, #2b2842, #363369, #3f3d92, #4947bd, #6249cb, #7a49d8, #9447e3, #b03ed2, #c437c1, #d333b0, #dd35a0);
			border-bottom: 0.05em solid white
        }
        /* Modify brand and text color */
		.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,
		.nav-link .nav-item {
            color: white;
        }
    </style>
    </head>
    <body style = "background: rgb(30,30,30)">
        <nav class="navbar navbar-expand-lg navbar-custom" style="font-family:Brush Script MT, cursive">
			<a class="navbar-brand"  href="/home" >SIS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
							Students
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/home">List of Students</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/students">Add Student</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
							Courses
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/courses">List of Courses</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/courses/add">Add Course</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
							Colleges
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/colleges">List of Colleges</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/colleges/add">Add College</a>
						</div>
					</li>
				</ul>
			</div>

			<form method="POST" class="form-inline my-2 my-lg-0" action="/search">
				{{ form.hidden_tag() }}
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = 'searched'>
				{{ form.select(class="form-control") }}
				&nbsp;
				<button class="btn btn-outline-dark" type="submit" style="color:white;"> Search</button>
			</form>
		</nav>
            {% block content %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			
			<script type="text/javascript">
				document.getElementById('searchform').onsubmit = function() {
					window.location = 'http://www.google.com/search?q=site:yourdomainname ' + document.getElementById('test').value;
					return false;
				}
			</script>
	</body>
</html>